<!-- header.html -->
<header class="header header-main">
	<div class="header-flex">
		<a href="" class="header-logo">лого</a>
		<div class="header-main">
			<div class="header-top">
				<nav class="header-nav">
					<ul class="header-nav-list">
						<li class="header-nav-item">
							<a href="" class="header-nav-link">каталог</a>
						</li>
						<li class="header-nav-item">
							<a href="" class="header-nav-link">Цены</a>
						</li>
						<li class="header-nav-item">
							<a href="" class="header-nav-link">Услуги</a>
						</li>
						<li class="header-nav-item">
							<a href="" class="header-nav-link">Новости</a>
						</li>
						<li class="header-nav-item">
							<a href="" class="header-nav-link">Новости</a>
						</li>
					</ul>
				</nav>
				<div class="header-right">
					<a href="" class="header-right-link header-right-link_login">Вход в кабинет</a>
					<a href="" class="header-right-link header-right-link_basket">Корзина: <span class="header-right-price">0 руб.</span></a>
				</div>
			</div>
			<div class="header-bottom">
				<ul class="header-bottom-list">
					<li class="header-bottom-item">
						<a href="tel:5612900400" class="header-bottom-link header-bottom-link_phone">561-290-0400</a>
					</li>
					<li class="header-bottom-item">
						<a href="tel:5612900400" class="header-bottom-link header-bottom-link_phone">561-290-0400</a>
					</li>
					<li class="header-bottom-item">
						<a href="" class="header-bottom-link">Доставка</a>
					</li>
					<li class="header-bottom-item">
						<a href="" class="header-bottom-link">Оплата</a>
					</li>
					<li class="header-bottom-item">
						<a href="" class="header-bottom-link">Возврат товаров</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>